{% extends 'base.html.twig' %}

{% block content %}
	<br>
	<br>
	<section class="post-wrapper">
		<div class="post-content full-width overflow">
			<div class="row">
				<div class="col-md-12 remove-side-padding">
					<div class="post-image">
						<div class="img-wrapper">
							<img src="img/map.jpg" class="img-responsive img-thumbnail">
						</div>
						<div class="contact-info">
							
						</div>
					</div>
					<br>
					<br>
					<div class="post-heading text-center">
						<div class="horizontal-separator"></div>
						<h4><label><strong>{{ translations['Contact Us'] }}</strong></label></h4>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					    	<div class="info-box">
								<p><strong>Ms. Riza Mae C. Bajuyo</strong></p>
								<p>Office Supervisor</p>
								<p>Cel no: 0906173199570 (TM)</p>
								<p>Email: rizamae.b@gmail.com</p>
							</div>

							<div class="info-box">
								<p><strong>Ms. Eunice T. Langit</strong></p>
								<p>Manager</p>
								<p>Malaybalay, Bukidnon Branch</p>
								<p>Cel no: 09061262996 (Globe)</p>
							</div>
				</div>
				<div class="col-md-6">

							<div class="info-box">
								<p><strong>Mr. Ivan Gay R. Tagaygay</strong></p>
								<p>Marketing/Purchaser</p>
								<p>Cel no: 09177946677 (Globe)</p>
								<p>Email: i.rtagaygay@gmail.com</p>
							</div>

							<div class="info-box">
								<p><strong>Mr. Oswaldo C. Lago</strong></p>
								<p>Yard Supervisor</p>
								<p>Cel no: 09177147200 (Globe)</p>
								<p>Email: oswaldolago0402@gmail.com</p>
							</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-12">
					<div class="post-heading text-center">
						<div class="horizontal-separator"></div>
					</div>
					<br>
					{% if alert_msg == "success" %}
						    <p class="alert alert-success" style="font-size:12px;"><i class="fa fa-check-circle"></i>  {{ translations['success_msg_translation'] }}</p>
						{% elseif alert_msg == "error" %}
						    <p class="alert alert-danger" style="font-size:12px;"><i class="fa fa-exclamation-circle"></i>  {{ translations['error_msg_translation'] }}</p>
						{% endif %}

						<form action="index.php?page=contact&&action=send-inquiry" method="post">
							<div class="form-group">
								<label>{{ translations['Name'] }}</label>
								<input type="text" name="client_name" class="form-control" required placeholder="{{ translations['Your Name'] }}">
							</div>
							<div class="form-group">
								<label>{{ translations['Email'] }}</label>
								<input type="email" name="client_email" class="form-control" required placeholder="{{ translations['Your Email'] }}">
							</div>
							<div class="form-group">
								<label>{{ translations['Message'] }}</label>
								<textarea rows="10" name="client_msg" class="form-control" required placeholder="{{ translations['Enter your message here'] }}"></textarea>
							</div>
							<button name="submit_msg" class="btn btn-success hvr-icon-wobble-horizontal">
								{{ translations['Submit Inquiry'] }}
							</button>
						</form>
				</div>
			</div>
		</div>
		
	</section>
	<br>
{% endblock %}
